
.border-div {
    border: black solid 1px;
    margin: 1em;
}

img {
    border: black solid 1px;
    margin-right: 5em;
}

#midbox {
    display: flex;
    justify-content: center;
    margin: 1em;
}

#introtekst {
    display: flex;
    align-items: center;
}

h1, h2, h3, p {
    text-align: center;
}

#grid {
    display: grid;
    justify-content: center;
    margin-left: 8em;
    margin-right: 8em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 0em;
}