
.box-div {
    border: solid black 1px;
    padding: 1em;
    margin: 0 auto;
    width: 300px;
}

input#modify {
    width: 30%;
    padding: 0.5em 2em;
    margin: 8px 0 -0.5em;
    font-size: 1em;
}

input#search {
    width: 75%;
    padding: 0.5em 2em;
    margin: 0.3em 0 -0.5em;
    font-size: 1em;
}

button {
    text-align: center;
    padding: 0.5em 1em;
}

li {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}