body {
  background-color: lightcyan;
}
.App {
  text-align: center;
}

table {
  background-color: aliceblue;
  border: thin black solid;
  border-collapse: collapse;
  width: 80%;
  height: 29em;
  margin: 0 auto;
  box-shadow: 0.5em 0.5em 0.5em gray;
}

th {
  background-color: lightblue;
  border: 1px solid black;
  cursor: pointer;
  box-shadow: 0.1em 0.1em 0.1em gray;
}

th, td {
  text-align: left;
  padding: 0.3rem;
  font-size: 1.2em;
  width:25%;
  border-top: thin lightgray solid;
}

input[type=text], button#searchButton {
  font-size: 1.5em;
  margin-bottom: 0.4em;
  box-shadow: 0.1em 0.1em 0.1em gray;
}

input[type=checkbox] {
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
}

label{
  font-size: 1.3em;
}

select {
  margin: 0 0 0 1em;
  font-size: 1.2em;
}

.pageButton {
  margin: 1em;
  font-size: 1em;
  width: 6%;
}

.checkDiv {
  margin: 0 auto;
  border: thin black solid;
  width: 80%;
  background-color: lightgoldenrodyellow;
}

.checkLine {
  display: inline;
  margin: 1em;
}

button, input[type=checkbox], select{
  cursor: pointer;
}