.container {
    display: flex;
    min-height: 100vh;
}

.left {
    width: 200px;
    min-height: 100vh;
    padding-top: 20px;
}

.right {
    flex-grow: 1;
    min-height: 100vh;
    padding: 26px 16px 0;
    background: #f0f0f0;
}


button[type=submit] {
    margin-top: 1em
}

aside {
    flex-grow: 0;
    height: 100%;
    width: 100%;
}

Section {
    background: #f0f0f0;
    border-left: 1px solid grey;
    width: 50%;
}

.boxes {
    border: 1px solid grey;
    display: flex;
    height: 100%;
}

Table {
    height: 10%;
}